.forgot-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    padding-top:90px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;

    background:#111;
}

.forgot-card{
    width:100%;
    max-width:420px;

    background:#1b1b1b;

    padding:45px;

    border-radius:15px;

    border:1px solid rgba(212,175,55,.25);

    box-shadow:0 15px 40px rgba(0,0,0,.45);
}

.forgot-card h1{
    color:#fff;
    font-size:40px;
    margin-bottom:10px;
}

.forgot-card p{
    color:#bbb;
    margin-bottom:30px;
}

.forgot-card input{
    width:100%;
    padding:15px;
    border:none;
    outline:none;
    background:#2a2a2a;
    color:#fff;
    border-radius:8px;
    font-size:15px;
    margin-bottom:20px;
}

.forgot-card input:focus{
    border:1px solid #D4AF37;
}

.forgot-card button{
    width:100%;
    padding:15px;
    border:none;
    background:#D4AF37;
    color:#111;
    font-size:16px;
    font-weight:bold;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.forgot-card button:hover{
    background:#fff;
}

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box input{
    padding:15px 45px;
}

.input-icon{
    position:absolute;
    top:17px;
    left:15px;
    color:#D4AF37;
}

.back-login{
    margin-top:20px;
    text-align:center;
}

.back-login a{
    color:#D4AF37;
    text-decoration:none;
    font-size:15px;
    font-weight:500;
    transition:.3s;
}

.back-login a:hover{
    color:#fff;
    text-decoration:underline;
}

@media(max-width:500px){

    .forgot-card{
        width:100%;
        padding:30px 20px;
    }

    .forgot-card h1{
        font-size:34px;
    }

}