/* ===== LOGIN PAGE (optional wrapper if used separately) ===== */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/* ===== LOGIN BOX ===== */
.login-box {
  width: 420px;
  background: #1b1b1b;
  padding: 45px;
  border-radius: 15px;
  border: 1px solid rgba(212,175,55,.25);
  box-shadow: 0 15px 40px rgba(0,0,0,.45);
}

/* ===== TEXT ===== */
.login-box h4 {
  color: #D4AF37;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.login-box h1 {
  color: #fff;
  font-size: 42px;
  margin-bottom: 10px;
}

.login-box p {
  color: #bbb;
  margin-bottom: 30px;
}

/* ===== INPUT ===== */
.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 15px 45px;
  border: none;
  outline: none;
  background: #2a2a2a;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
}

.input-icon {
  position: absolute;
  top: 17px;
  left: 15px;
  color: #D4AF37;
}

.eye {
  position: absolute;
  top: 17px;
  right: 15px;
  color: #D4AF37;
  cursor: pointer;
}

/* ===== OPTIONS ===== */
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #ccc;
  font-size: 14px;
}

.login-options a {
  color: #D4AF37;
  text-decoration: none;
}

.login-options input {
  margin-right: 8px;
}

/* ===== BUTTON ===== */
.login-box button {
  width: 100%;
  padding: 15px;
  border: none;
  background: #D4AF37;
  color: #111;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
}

.login-box button:hover {
  background: #fff;
}

/* ===== BOTTOM TEXT ===== */
.bottom-text{
    text-align:center;
    color:#bbb;
    margin-top:25px;
}

.switch-link{
    color:#D4AF37;
    margin-left:6px;
    font-weight:600;
    cursor:pointer;
    display:inline-block;
    transition:.3s;
}

.switch-link:hover{
    color:#fff;
    text-decoration:underline;
}

.forgot-link{
  text-align:right;
  margin-top:-10px;
  margin-bottom:15px;
}

.forgot-link a{
  color:#D4AF37;
  text-decoration:none;
  font-size:14px;
}

.forgot-link a:hover{
  text-decoration:underline;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 500px) {
  .login-box {
    width: 100%;
    padding: 30px 20px;
  }

  .login-box h1 {
    font-size: 34px;
  }
}